<section>
    <div class="container">
        <div class="header-title">
            <h1>Rivue.</h1>
            <p>See the world. Tell your friends.</p>
            <div class="links">
                <button class="btn">Login</button>
                <button class="btn btn-sign-up">Sign up</button>
            </div>
        </div>
    </div>
    <img src="../../../assets/pexel.jpg" alt="" height="700" width="100%">
</section>
<div class="container">
    <section>
        <h3>Pick your destination</h3>
    </section>
</div>
    <section class="sect-three"></section>
    <section></section>
